.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.color-guess {
  width: 340px;
  height: 250px;
  margin-bottom: 10px;
}

button {
 padding: 20px;
}

button + button {
  margin-left: 20px;
  padding: 20px;
}

.wrong {
  margin-top: 15px;
  font-size: 30px;
  color: red;
  text-align: center;
}